/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul, li{
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
=============================================
Grid 
=============================================
*/

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
img {
  height: 40px;
  width: auto;
}
.img-part {
  position: relative;
}
.img-part {
   margin-left: 7%;
}
.part {
  height: 25px;
  width: 150px;
  margin-bottom: -7px;
}
.top li {
  padding: 0 10px;
}
.container {
  width: 1440;
  padding-left: 7%;
}

.container li {
  display: inline-block;
  font: 14px Lato, sans-serif;
  font-weight: 600;
  padding: 35px .1%;
}
.blink {
  margin-left: 1%;
}
form {
  width: 83%;
  height: 60px;
  background: none;
  display: flex;
  margin-bottom: 10px;
}
form input {
  flex: 1;
  width: 70%;
  height: 100%;
  border: 0;
  font-size: 25px;
  background: #fff;
  border-radius: 5px;
}
.container a {
  text-decoration: none;
  color: #333;
  font: normal 700 14px/22px Lato, sans-serif;
}
.sub-chain {
  padding-left: 7%;
}
.sub-chain, h3 + p,
.sub-chain a {
  color: #fff;
  text-decoration: none;
  padding-bottom: 20px;
}
.sub-chain a {
  font: normal 700 14px/17px Lato, Helvetica, sans-serif; 
}
.sub-chain a:hover{
  text-decoration: underline;
}
.sub-chain h3 {
  font: normal 900 14px/17px Lato, Helvetica, sans-serif; 
}
.sub-chain p {
  font: normal 900 48px/55px Lato, Helvetica, sans-serif;
}
.chain {
  padding: 100px 0 150px 0;
  background: url(https://newfold.scene7.com/is/image/NewfoldDigital/domain-name-search-hero-l?wid=1440&qlt=100);
  background-repeat: no-repeat;
}

/*
=============================================
Typography 
============================================= 
*/

.top a,
.container li {
  color: #fff;
  text-decoration: none;
}
.chain ::placeholder {
  color: grey;
}
.top {
  display: flex;
  border-left: 2px solid rgba(128, 128, 128, 0.63);
  margin-left: 7%;
  line-height: 40px;
  height: 40px;
}
.stress {
  background: #000;
}

/*
============================================
Anchors 
============================================ 
 */

.subdom a:hover,
.line:hover {
  text-decoration: underline;
}
.top li:hover {
  background: #dacece3d;
}
.cart {
  width: 300px;
}
.cart-block div {
  border-bottom: 1px solid black;
  margin: 15px 15px;
  width: 108%;
}
.cart-block div:first-child {
  font-size: 32px;
  padding: 20px 0;
}
.mid-cart {
  padding-bottom: 15px;
  text-align: center;
}
.cart-block div:last-child {
  border: none;
  color: #fff;
  background: #000;
  padding: 20px 0;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;  
}

/*
============================================
Hover list 
============================================ 
 */

 .subdom {
  display: none;
 }
.domain:hover .subdom {
  display: block;
  position: absolute;
  background: #fff;
}
 .subdom li {
  display: block;
  margin: 20px 0;
  padding: 10px 10px;
  text-transform: capitalize;
}
 .subdom input {
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.534);
}
 .subdom input {
  padding: 10px 15px;
}
.blink-hov {
  display: none;
}
.blink:hover .blink-hov {
  display: block;
  position: absolute;
  background: #fff;
}
.blink-hov li {
  display: block;
  color: #000;
  padding: 0;
}
.blink-hov p {
  margin-bottom: 20px 0;
  color: rgb(95, 89, 89);
}
.blink-hov ul {
  width: 250px;
}
.blink-hov p {
  font-weight: 100;
  margin-left: 20px;
  font-size: small;
}
.blink-hov .point {
  font-size: 20px;
  margin-top: 20px;
}

/*
=============================================
Button 
=============================================
*/

button {
  height: 100%;
  padding: 0 45px;
  margin-left: 13px;
  color: #fff;
  background: rgb(214, 55, 55);
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}
button:hover {
  background: rgb(228, 21, 21);
}
.blink-hov button  {
  margin: 20px 0 20px 21px;
  background: rgb(17, 113, 145);
  color: #000;
  text-transform: uppercase;
  padding: 12px;
  width: 210px;
}
button:hover {
  color: #fff;
  background: rgb(12, 60, 77);

}
.blink-hov .btn {
  margin: 20px 21px;
  color: rgb(228, 21, 21);
  border: 2px solid rgb(228, 21, 21);
  width: 210px;
  background: #fff;
  text-transform: uppercase;
  padding: 10px;
}
.btn:hover {
  color: #fff;
  background: red;
}
/* 
===========================================
Footer
===========================================
 */

 .main-header li {
  display: inline-block;
  margin: 30px 20px 40px 0;
  text-transform: capitalize;
  font: normal 700 16px/17px Lato, Helvetica, sans-serif;
  font-weight: 600;
  color: #2a9dbc;
 }
 .main-header li:first-child {
  margin: 0 80px;
  margin-left: 7%;
  color: #333;
  font: normal 700 16px/22px Lato, Helvetica, sans-serif;
 }
 .spacer {
  padding-left: 70px;
 }
 .col-2-3 {
  padding-left: 36%;
  background: linear-gradient(90deg, rgb(182, 56, 55) 36%, rgb(51, 51, 51) 0px);
  position: relative;
 }
 .col-2-3 img {
  position: absolute;
  width: 260px;
  height: auto;
  left: 14%;
  bottom: 37%;
 }
 .head-intro p{
  display: inline-block;
  color: #fff;
  margin-right: 10px;
  width: 300px;
  font: normal 300 26px/32px Lato, Helvetica, sans-serif;
 }
 .head-intro {
  padding-top: 50px;
  margin-bottom: 50px;
 }
.head-intro input {
  width: 376px;
  padding: 12px 35px 12px 20px;
  border: none;
  border-radius: 5px;
  border: 1px solid #ddd;
  vertical-align: top;
 }
 .head-intro input::placeholder {
  color: #0000006c;
  font: normal 300 24px/32px Lato, sans-serif;
 }
 .path a:hover {
  text-decoration: underline;
 }
 .path-last {
  padding-top: 15px;
 }
 .mentor li {
  margin: 20px 0;
 }
 .path {
  display: inline-block;
  vertical-align: top;
  color: #999;
  margin: 10px;
  font: normal 400 14px/17px Lato, Helvetica, sans-serif;
  text-transform: uppercase;
  width: 150px;
 }
 .mentor li a {
  text-decoration: none;
  text-transform: capitalize;
  font: normal 400 14px/18px Lato, Helvetica, sans-serif;
  color: #fff;
 }
 .bottom-col li {
  display: inline-block;
  color: #fff;
  font: normal 400 14px/18px Lato, Helvetica, sans-serif;
  padding: 0px 20px;
  margin-bottom: 60px;
  text-transform: capitalize;
}
.bottom-col li:first-child {
  margin-left: 210px;
}
small {
  display: block;
  color: rgb(122, 122, 122);
  padding-bottom: 50px;
}