/* 
==================================================
Screen size (1101px)
==================================================
 */
@media all and (min-width: 1101px) {
  .include {
    display: none;
  }
  .footer-block-flex .fa-angle-down {
    display: none;
  }
  .dropdown-header > input {
    display: none;
  }
  .include + label .fa-search,
  .include + label input {
    display: none;
  }
  .min-cart {
    display: none;
  }
}
/* 
  ==================================================
  Screen size (1100px)
  ==================================================
  */
@media all and (max-width: 1100px) {
  /* 
  ===============================================
  General
  ===============================================
  */
  .group {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 6%;
  }
  /*
  =============================================== 
   header 
  ===============================================  
   */
  .min-cart {
    position: absolute;
    right: 160px;
    top: 55px;
    width: 20px;
  }
  .min-cart > input,
  #cart-rad2 {
    display: none;
  }
  .fa-times {
    font-weight: 900;
    position: relative;
    left: 290px;
    top: 10px;
  }
  .min-cart ul {
    width: 330px;
    position: relative;
    right: 250px;
    padding: 0 10px;
    padding-bottom: 10px;
    display: none;
  }
  .min-cart h1 {
    font: normal 500 40px/34px Lato, Helvetica, sans-serif;
    color: #333;
    padding: 20px 0;
  }
  .min-cart span {
    position: absolute;
    right: 10px;
    top: 5px;
  }
  .btn-cart {
    margin: 0 auto;
    border-radius: 0;
  }
  .min-cart input {
    border: none;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 100%;
    color: #fff;
    padding: 10px 0;
    margin-bottom: 15px;
    text-align: center;
    font: normal 600 Lato, Helvetica, sans-serif;
    color: #333;
  }
  .dropdown-menu label p {
    margin-bottom: 20px;
    padding-left: 20px;
    font: normal 400 small/17px Lato, Helvetica, sans-serif;
  }
  .dropdown-menu a {
    position: relative;
    padding-left: 20px;
  }
  .dropdown-menu .fa-angle-down {
    transform: rotate(-90deg);
    position: absolute;
    right: 5px;
  }
  .dropdown-menu:hover ul {
    display: none;
  }
  #toggle {
    max-height: 0;
  }
  .burg-bot-search > input {
    border: none;
    width: 85%;
    height: 40px;
    padding-left: 30px;
    margin-top: -50px;
    margin-left: 25px;
    border-radius: 5px;
    border-bottom: 4px solid #000;
  }
  /* Dropdown header */
  .burger-positioned li:nth-child(6) p {
    border-bottom: 1px solid rgba(128, 128, 128, 0.685);
    padding-bottom: 20px;
  }
  .burger-positioned .final a {
    border-bottom: 1px solid rgba(128, 128, 128, 0.685);
    padding-bottom: 10px;
    margin-bottom: 50px;
  }
  .include + li {
    display: none;
  }
  .include,
  .dropdown-header a,
  .big a {
    text-decoration: none;
    color: #333;
    font: normal 500 14px/22px Lato, sans-serif;
  }
  .include {
    color: #333;
    font: normal 500 14px/22px Lato, sans-serif;
  }
  .dropdown-menu > input {
    display: none;
  }
  .dropdown-menu li input {
    width: 90%;
  }
  .dropdown-menu > a {
    display: block;
    margin: 15px 0;
  }
  /*
  ==================================================
  Hamburger
  ==================================================
  */
  .burger-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: absolute;
    right: 100px;
    top: 63px;
  }
  .top-burger {
    background: var(--www-domain-com-mine-shaft, #333333);
    border-radius: 4px;
    flex-shrink: 0;
    width: 28px;
    height: 4px;
    position: relative;
    transition: all 0.5s ease;
  }
  .middle-burger {
    background: var(--www-domain-com-mine-shaft, #333333);
    border-radius: 4px;
    align-self: stretch;
    flex-shrink: 0;
    width: 22px;
    height: 4px;
    position: relative;
    transition: all 0.5s ease;
  }
  .bottom-burger {
    background: var(--www-domain-com-mine-shaft, #333333);
    border-radius: 4px;
    flex-shrink: 0;
    width: 28px;
    height: 4px;
    position: relative;
    transition: all 0.5s ease;
  }
  /*
  ==========================================
  Dropdown header
  ==========================================
  */
  .burger-positioned {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    right: -50%;
    top: 0;
    background-color: #fff;
  }
  .burger-positioned li ul {
    margin-top: -53px;
  }
  .burger-positioned li:nth-child(7) {
    display: none;
    margin: 0;
    height: 0;
  }
  .bug {
    max-height: 0;
    overflow: hidden;
  }
  .dropdown-header input:checked + label + ul .bug {
    display: block;
    max-height: 1000px;
  }
  body {
    transition: all 0.5s ease;
  }
  body:has(.dropdown-header > input:checked) {
    transform: translateX(-50%);
    overflow-y: hidden;
  }
  .dropdown-menu:hover ul {
    background-color: #e3e3e3;
  }
  .dropdown-menu ul {
    z-index: 2;
    width: 100%;
    background-color: #e3e3e3;
    padding-bottom: 5px;
    margin-bottom: 40px;
  }
  .dropdown-menu ul li {
    margin-left: -40px;
  }
  .dropdown-menu ul li:hover {
    background: none;
  }
  .dropdown-menu li:nth-child(1n+1) {
    padding: 10px 40px;
  }
  /*
  ===============================================
  Checked list
  ===============================================
  */
  .min-cart input[type=radio]:checked ~ ul {
    background-color: #fff;
    display: block;
  }
  .burger-positioned .fa-angle-down {
    transition: all 0.3s ease;
  }
  .burger-positioned input:checked + label p .fa-angle-down {
    transform: rotate(0deg);
  }
  #toggle:checked + label .top-burger {
    position: relative;
    top: 6px;
    transform: rotate(45deg);
    background-color: rgb(240, 11, 11);
  }
  #toggle:checked + label .middle-burger {
    width: 0;
    background-color: rgb(240, 11, 11);
  }
  #toggle:checked + label .bottom-burger {
    position: relative;
    top: -10px;
    transform: rotate(-45deg);
    background-color: rgb(240, 11, 11);
  }
  .dropdown-header input:checked ~ ul .burger-positioned {
    max-height: 1000px;
    background-color: #f3f3f3;
  }
  .burger-positioned input:checked ~ ul {
    display: block;
    position: relative;
    max-height: 1000px;
  }
  .dropdown-menu input:checked + label p {
    box-shadow: 0 1.5px 0.1px rgba(0, 0, 0, 0.23);
  }
  /*
  ==============================================
  Domain price tag
  ==============================================
  */
  .domain-price {
    margin-top: -80px;
  }
  .domain-price p {
    margin-bottom: 20px;
  }
  /* 
  ===============================================
  Domain option  
  ===============================================
  */
  .domain-option-flex {
    width: 48%;
    padding-right: 25px;
  }
  .domain-option-flex button {
    box-sizing: border-box;
    width: 330px;
    padding: 20px 30px;
  }
  /*
  ==============================================
  Domain preference
  ==============================================
  */
  .group {
    max-width: 100%;
  }
  .domain-preference {
    margin: auto 0;
    padding: 0;
  }
  .preference-flex {
    width: 30%;
  }
  .preference-flex {
    padding: 0 1%;
  }
  .preference-flex h2 {
    font: normal 700 18px/22px Lato, Helvetica, sans-serif;
  }
  .preference-flex img {
    height: 10px;
    padding-right: 15px;
  }
  /* 
   ==========================================
   Domain description
   ==========================================
  */
  .description-layout {
    width: 95%;
    padding: 20px 40px;
  }
  .description-layout .fa-angle-down {
    top: 20px;
  }
  .description-layout button {
    text-align: left;
    line-height: 20px;
  }
  .description-collapsible p {
    padding-top: 30px;
  }
  /*
  =========================================
  footer 
  =========================================
  */
  .domain-footer-logo {
    display: none;
  }
  .footer-navigator {
    margin-left: 6%;
    margin-right: 10%;
    position: relative;
  }
  .footer-navigator input {
    width: 100%;
  }
  .footer-section {
    background: rgb(51, 51, 51);
  }
  .footer-section .domain-footer {
    width: 90%;
    padding: none;
    margin: none;
  }
  .footer-block {
    display: block;
  }
  .footer-block-flex {
    width: auto;
    margin-left: 8%;
    margin-right: 1%;
  }
  .footer-block-flex input {
    display: none;
  }
  .footer-block-flex ul {
    max-height: 0;
    overflow: hidden;
  }
  .footer-block-flex input:checked ~ ul {
    max-height: -moz-max-content;
    max-height: max-content;
  }
  .footer-block-flex .fa-angle-down {
    transform: rotate(-90deg);
    color: rgb(179, 48, 48);
    font-weight: 900;
    font-size: 60px;
  }
  .footer-block-flex input:checked + label .fa-angle-down {
    transform: rotate(360deg);
    color: rgb(194, 19, 19);
  }
  .footer-block-drop {
    border-top: 2px solid grey;
    padding-top: 25px;
    padding-bottom: 10px;
  }
  .bar {
    border-bottom: 2px solid grey;
    padding-bottom: 30px;
  }
  .footer-icons {
    margin-top: -40px;
  }
  .footer-order1 {
    padding: 30px 0;
  }
  .footer-animation {
    margin-top: -20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer-navigator p {
    width: 55%;
  }
}
/* 
==================================================
Screen sizing (800px)
==================================================
*/
@media all and (max-width: 800px) {
  /* 
  ==================================================
  Dropdown header 
  ==================================================
  */
  .burger-positioned {
    position: absolute;
    right: -83%;
    width: 83%;
    max-width: 0;
    top: 0;
  }
  .dropdown-header input:checked ~ ul .burger-positioned {
    max-width: 83%;
  }
  body {
    transition: all 0.5s ease;
  }
  body:has(.dropdown-header > input:checked) {
    transform: translateX(-83%);
    overflow-y: hidden;
  }
  /*
  ===============================================
  Hero section
  ===============================================
  */
  .hero-section {
    padding-left: 5%;
  }
  .hero-section form {
    box-sizing: border-box;
    width: 95%;
    margin-bottom: 50px;
    padding-bottom: 10px;
    height: 70px;
  }
  .hero-section form button {
    display: block;
    margin-top: 15px;
    margin-left: 4px;
    width: 95%;
  }
  .hero-section form input {
    width: 95%;
    margin-left: 2px;
  }
  .hero-section h3 {
    font: normal 900 12px/15px Lato, Helvetica, sans-serif;
  }
  .hero-section p {
    font: normal 900 30px/36px Lato, Helvetica, sans-serif;
    padding: 10px 0;
  }
  .hero-section .fa-search {
    display: none;
  }
  /*
  ===============================================
  Domain price 
  ===============================================
  */
  .domain-price {
    width: 100%;
    margin-top: -100px;
  }
  .domain-price p {
    font: normal 700 16px/24px Lato, Helvetica, sans-serif;
  }
  .price-tag {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
  }
  .price-tag p {
    text-wrap: nowrap;
    font: normal 400 14px/18px Lato, Helvetica, sans-serif;
    text-wrap: wrap;
  }
  .price-tag br {
    display: none;
  }
  .price-tag h2 {
    font: normal 300 18px/22px Lato, Helvetica, sans-serif;
  }
  .price-tag button {
    width: 90%;
    margin-left: 25px;
  }
  /* 
  ============================================
  Domain option 
  ============================================
  */
  .domain-option-flex {
    padding-right: 40px;
  }
  .domain-option-flex h1 {
    font: normal 600 30px/36px Lato, Helvetica, sans-serif;
    text-align: center;
    text-wrap: wrap;
  }
  .domain-option-flex p {
    text-align: center;
  }
  .domain-option-flex button {
    box-sizing: border-box;
    width: 250px;
    padding: 15px 50px;
  }
  /*
  ===============================================
  Domain preferences
  ===============================================
  */
  .domain-pre-head h1 {
    font: normal 600 30px/36px Lato, Helvetica, sans-serif;
  }
  .domain-pre-head p {
    font: normal 300 22px/27px Lato, Helvetica, sans-serif;
  }
  .preference-flex h2 {
    font: normal 700 14px/18px Lato, Helvetica, sans-serif;
  }
  .preference-flex p {
    font: normal 300 16px/18px Lato, Helvetica, sans-serif;
  }
  /*
  ==============================================
  Domain description
  ==============================================
  */
  .description-layout {
    width: 85%;
  }
  .description-collapsible p {
    padding-top: 20px;
    font: normal 400 14px/18px Lato, Helvetica, sans-serif;
  }
  /* 
  ==============================================
  Domain details
  ==============================================
  */
  .domain-details h1 {
    font: normal 300 18px/22px Lato, Helvetica, sans-serif;
  }
  .domain-details p {
    font: normal 400 14px/18px Lato, Helvetica, sans-serif;
  }
  /*
  ==============================================
  Footer
  ==============================================
  */
  .footer-navigator p {
    font: normal 300 22px/27px Lato, Helvetica, sans-serif;
  }
  .footer-navigator input {
    width: 100%;
    font: normal 300 25px/20px Lato, Helvetica, sans-serif;
  }
  .footer-navigator .fa-search {
    color: rgb(182, 56, 55);
    padding-top: 10px;
    font-size: 25px;
    position: absolute;
    right: 10px;
    display: inline;
  }
  .footer-order1 {
    order: 1;
  }
  .footer-order2 {
    order: 2;
    padding-bottom: 50px;
  }
  .footer-icons {
    width: 100%;
    margin-top: -40px;
  }
  .footer-icons small {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .footer-icons ul {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
  }
}
/* 
==================================================
Screen size (580px)
==================================================
*/
@media all and (max-width: 580px) {
  /* 
  ==================================================
  Dropdown header 
  ==================================================
  */
  .min-cart {
    right: 60px;
  }
  .group {
    width: 100%;
    margin: 0;
  }
  .burger-container {
    right: 10px;
  }
  .fa-top-search {
    position: absolute;
  }
  /* 
  =================================================
  Hero section 
  =================================================
  */
  .hero-section {
    background-repeat: no-repeat;
    background-size: 900px 500px;
    margin: 0 auto;
    padding-left: 2%;
  }
  .hero-section form {
    width: 100%;
  }
  .hero-section form input {
    margin-left: 1%;
  }
  .hero-section > .group {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  /* 
  ================================================
  Domain price tag 
  ================================================
  */
  .domain-price {
    width: 100%;
    margin-top: -100px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .price-tag {
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  .price-tag button {
    margin-left: 10px;
  }
  /* 
  ============================================
  Domain option
  ============================================
  */
  .domain-option {
    width: 96%;
    margin: auto;
  }
  .domain-option-flex {
    width: 100%;
    margin: auto 0;
    padding: 0;
  }
  .domain-option-flex img {
    width: 100%;
    height: auto;
  }
  .domain-option-flex button {
    box-sizing: border-box;
    width: 90%;
    padding: 15px 30px;
  }
  .order1 {
    order: 1;
  }
  .order2 {
    order: 2;
  }
  /* 
  ============================================
  Domain preferences
  ============================================
  */
  .domain-pre-head {
    width: 97%;
    margin: auto;
    padding: 0;
  }
  .domain-preference {
    display: block;
  }
  .preference-flex {
    width: 90%;
  }
  .preference-flex img {
    height: 60px;
    padding-right: 20px;
  }
  .domain-pre-head .group {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
  /* 
  ================================================
  Domain description
  ================================================
  */
  .domain-description {
    width: 95%;
    padding: 0;
    margin: 0 auto;
  }
  .description-layout {
    width: 100%;
  }
  /* 
  =================================================
  Domain details
  =================================================
  */
  .domain-details {
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    width: 97%;
    padding: 0 20px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  }
  .details-flex img {
    height: auto;
    width: 100%;
    padding-left: 20px;
  }
  /*
  =================================================
  Domain resource
  =================================================
  */
  .domain-resource {
    display: block;
  }
  .domain-resource-text {
    display: flex;
    justify-content: center;
  }
  .domain-resource-text p {
    text-align: center;
  }
  /*
  ===============================================
  Footer 
  ===============================================
  */
  .footer-p {
    margin: 30px 20px;
  }
  .footer-navigator {
    display: block;
    position: relative;
  }
  .footer-navigator p {
    width: 90%;
    padding-bottom: 10px;
  }
  .footer-navigator input {
    width: 100%;
    font: normal 300 25px/20px Lato, Helvetica, sans-serif;
  }
  .footer-animation {
    width: 100%;
    margin-left: 1%;
    margin-right: 20%;
    text-align: center;
  }
  .footer-icons {
    width: 100%;
    margin-left: 1%;
    margin-top: -40px;
  }
  .footer-icons small {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-icons ul {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}/*# sourceMappingURL=mobile-screen.css.map */