  /* /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,
p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,
dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,
var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,
details,embed,figure,figcaption,footer,header,hgroup,menu,
nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,aside,details,figcaption,figure,footer,header,
hgroup,menu,nav,section {
  display: block;
}

body {
  line-height: 1;
}

ol,ul,li {
  list-style: none;
}

blockquote,q {
  quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


//Settings import

@import "./setting/mixins";
@import "./setting/variables";
@import "./setting/variables";


/*
==========================================
Grid
==========================================
*/


body {
    background-color: $bodyBgcolor;
  }

  *,
  *::before,
  *::after {
    @include EleBoxsize();
    // outline: 1px solid #757e7d;
  }

  .group {
     @include group(1120px);
  }
  .dropdown-menu>input {
    display: none;
    font: normal 300 26px/32px Lato, Helvetica, sans-serif;
  }
  .burger-positioned {
    position: relative;
    width: 80%;

    li:nth-child(1n+1) {
     margin: 0 0.1%;
    }

    li:nth-child(7) {
      margin-left: 8.2%;
    }

    li:nth-child(9) {
      padding: 0 3%;
      padding-bottom: 25px;
    }

  }

  .hero-section {
    width: 100%;
    @include EleSpacerPtb(100px,150px);
    line-height: 60px;
    background-image: url(../assets/images/domain-name-search-hero-l.png);
    background-size: cover;
  }
  
  form {
    @include  EleLength(90%,60px)
  }
     
  .hero-section {
    input {
      @include EleLength(80%,60px);
      border: none;
      padding: 0 50px;
      margin-left: -27px;
      border-radius: 6px;
      color: #666666c9;
      font-family: Lato, Helvetica, sans-serif;
      font-weight: 300;
      font-size: 25px;
    }
  }

  .dropdown-header {
    ul>li {
      box-sizing: padding-box;
      margin-right: 5.3%;
    }
  }

  .fa-angle-down {
    @include EleSpacerPlr(3px,6px)
  }

  .dropdown-menu {

    li:nth-child(1n+1) {
      margin-left: 0;
      padding: 20px 10px;
      text-transform: capitalize;
    }

    ul>li:nth-child(8) {
      margin-left: 0;
    }

    li input {
      padding: 10px 15px;
      border-radius: 5px;
      border: $border;
    }

    .help-list {
      @include EleBoxshadow();
      background-color: #fff;
      padding: 15px;
      position: relative;
      left: 60%;
    }

    .cart-list {
      @include EleBoxshadow();
      width: 330px;
      padding: 15px;
      position: relative;
      right: 10%;
    }
  
  }

  .hide {
    margin: 20px;
    padding-bottom: 30px;
  }

  hr {
    margin-top: 10px;
    position: absolute;
    left: 0;
    right: 0;
  }

  .domain-price {
    margin-top: -70px;
  }

/*
==================================================
Layout
==================================================
*/

.dropdown-menu {
  display: inline-block;
  vertical-align: top;
}

.flex-item {
  @include Eleflex();
}

.dom-details-flex {
  display: flex;
}

.price-tag,
.preference-flex {
  width: 30.93%;
  margin: 1.2% 1.2%;
  border-radius: 5px;
  background-color: #fff;
}

.domain-option-flex {
  width: 50%;
}

.domain-footer-logo {
  width: 35%;
}

.details-flex {
  a {
    display: block;
  }
}

/* 
==================================================
Dropdown
==================================================
*/

.dropdown-menu {
  ul {
    display: none;
    width: 250px;
    position: relative;
    top: 35px;
  }


  ul li {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
  }

}

.description-layout {
  width: 97%;
  padding: 0 30px;
  border-radius: 5px;
  position: relative;

  .fa-angle-down  {
    top: 35px;
    font-weight: 700;
    font-size: 22px;
    color: #e24747;
    position: absolute;
    left: 15px;
    transition: all 1s ease;
  }

  input {
    display: none;
  }
}

.description-collapsible {
  transition: all 1s ease;
  overflow: hidden;
  max-height: 1000px;
}

input:checked+label {
  .fa-angle-down {
    color: #000;
    transform: rotate(-90deg);
  }
}

input:checked~.description-collapsible {
  max-height: 0;
}

 /*
=================================================
Icon 
================================================= 
 */

 .hero-section  {
  .fa-search {
    position: relative;
    left: 15px;
    font-size: 30px;
    padding: 0;
    margin: 0;
    color: #6666662d;
  }
 }

 .fa-arrow-right {
  /* transform: translateX(5px); */
  transition: all .3s ease 0s;
}

/*
=================================================
Hover 
================================================= 
 */

 .header-intro {
  a:hover {
    background-color: #464545c7;
  }
 }

 .dropdown-header {
  .login:hover {
    a {
      color: rgb(223, 28, 28);
      text-decoration: underline;
    }
  }
 }

 .dropdown-menu:hover {
  ul {
    display: block;
    position: absolute;
    background: #fff;
  }
 }

 .dropdown-menu {
  ul {
    a:hover {
      text-decoration: underline;
    }
    li:hover {
      background-color: lightgray;
    }
    .drop-head-input:hover {
      background-color: initial;
    }
  }
  p:hover {
    .fa-angle-down {
      color: rgb(187, 50, 50);
    }
  }
 }

 .drop-btn-1:hover {
  background-color: rgb(182, 56, 55);
  color: #fff;
}

.drop-btn-2:hover {
  background-color: #266779;
  color: #fff;
}

.hero-section {
  a:hover {
    text-decoration: underline;
  }
  button:hover {
    background-color: rgb(182, 56, 55);
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;

  .fa-arrow-right {
    transform: translateX(10px);
  }
}

.price-tag button:hover {
  color: #fff;
  background-color: #000;
}

.domain-details a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* 
==================================================
Image
==================================================
*/

.header-intro img {
   @include EleLength (110px,45px);
}

.dropdown-tag {
  @include EleLength (150px,auto);
  margin-top: -2px;
}

.cart-image {
  @include EleLength (20px,auto);
}

.preference-flex img {
  height: 30px;
  padding-right: 30px;
}

.domain-option-flex img {
  @include EleLength (90%,auto);
}

.details-flex img {
  @include EleLength (90%,auto);
  padding-left: 20px;
}

/*
==================================================
Typography
==================================================
*/


.header-intro {
  background-color: #000;
  height: 45px;
  padding-left: 7%;

  a {
    color: #fff;
    vertical-align: top;
    padding: 12px 15px;
    font: normal 300 15px/45px  $fontFam;
  }

  div {
    border-left: 2px solid #666666;
    height: 45px;
  }
}

.domain-resource {
  border-top: 4px solid #e3e3e3;
  padding: 35px 0;
  margin-bottom: 10px;


  p {
    display: inline-block;
    text-align: center;
   @include Eleflex();
    flex-direction: row;
  }

  a {
    text-transform: capitalize;
    font: normal 700 16px/17px  $fontFam;
    font-weight: 600;
    color: #2a9dbc;
  }
}

.domain-resource-text {
  @include EleSpacerMlr(7%,6%);
  color: #333;
  font-family: $fontFam;
  font-weight: 700;
}

.dropdown-menu {
  h2 {
    margin-top: 20px;
    color: #666666c9;
    font: normal 400 20px/22px  $fontFam;
  }

  p {
    margin-bottom: 20px;
    font: normal 500 small/17px  $fontFam;
  }
  h1 {
    font: normal 700 40px/34px  $fontFam;
    color: #333;
    padding: 20px 0;
  }
}

.btn-cart {
  font: normal 700 14px/17px  $fontFam;
  color: #fff;
  text-transform: uppercase;
}

.cart-list input {
  border: none;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  width: 100%;
  color: #fff;
  padding: 10px 0;
  margin-bottom: 15px;
  text-align: center;
  font: normal 600 14px/20px  $fontFam;
  color: #333;
}

.hero-section {
  h3 {
    font: normal 900 14px/20px $fontFam;
    color: #fff;
  }

  p {
    font: normal 900 48px/85px $fontFam;
    color: #fff;
  }
  a {
    font: normal 700 14px/17px  $fontFam;
    text-decoration: none;
    color: #fff;
  }
  ::placeholder {
    color: grey;
  }

  ::placeholder {
    font: normal 300 26px/40  $fontFam;
  }
}

.domain-price p {
  font: normal 700 26px/17px $fontFam;
  text-align: center;
  color: #fff;
}

.price-tag {
  h1 {
    font: normal 700 48px/55px  $fontFam;
    color: #000;
    padding: 25px 0;
  }

  p {
    font: normal 400 16px/22px  $fontFam;
    color: #333;
    text-align: left;
  }

  span {
    color: rgb(189, 12, 12);
    padding-right: 4px;
  }
  h2{
    font: normal 300 22px/27px  $fontFam;
    color: #333;
    padding: 20px 0;
  }
}

.preference-flex {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
}

.domain-option-flex {
  margin-top: 100px;

  h1 {
    font: normal 600 40px/57px  $fontFam;
    color: #000;
  }

  p {
    font: normal 300 26px/32px  $fontFam;
    color: #000;
    padding: 10px 0;
  }
  
  li {
    font: normal 400 16px/22px  $fontFam;
    list-style-type: disc;
    color: #666666;
    padding: 5px 0;
    margin-left: 20px;
  }
}

.domain-pre-head {
  h1 {
    text-align: center;
    font: normal 600 40px/57px  $fontFam;
    color: #000;
    @include EleSpacerMtb(100px,10px)
  }

  p {
    text-align: center;
    font: normal 300 26px/36px $fontFam;
    color: #333;
    margin-bottom: 60px;
  }
}

.preference-flex {
  background-color: #fafafa;

  p {
    font: normal 300 16px/22px  $fontFam;
    color: #333;
    margin-top: 20px;
    text-align: left;
  }

  h2 {
    font: normal 300 26px/36px  $fontFam;
    color: #333;
  }
}


.domain-description {
  h1 {
    text-align: center;
    font: normal 300 26px/25px  $fontFam;
  }

  button {
    font: normal 600 22px/50px  $fontFam;
    columns: #000;
    background-color: inherit;
    border: none;
    /* display: flex; */
  }

  p {
    font: normal 400 16px/22px Lato,  $fontFam;
    padding-top: 20px;
    color: #333;
  }

  li {
    font: normal 400 16px/22px  $fontFam;
    color: #666666;
    list-style: disc;
    margin-left: 20px;
    padding: 5px 0;
  }
}

.domain-details {

  max-width: 87%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1);

  h1 {
    font: normal 300 22px/27px  $fontFam;
    color: #666666;
    padding: 30px 0;
  }

  p {
    font: normal 400 16px/22px  $fontFam;
    color: #666666;
  }

  a {
    font: normal 700 16px/17px  $fontFam;
    color: #2a9dbc;
    display: block;
    padding: 10px 0;
    text-decoration: none;
  }
}

.details-flex a:nth-child(4) {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.397);
}

.footer-p {
  font: normal 400 14px/18px  $fontFam;
  color: #333;
  margin: 50px 0 70px 100px;
}

.theme {
  color: #2a9dbc;
}

.description-layout {
  padding: 20px 4.8%;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1);

  label {
    display: flex;
    justify-content: flex-start;
  }
}

.domain-resource li:first-child {
  margin-right: 3%;
}

.dropdown-header {
  height: 80px;
  padding-top: 30px;
}

.bug label p {
  text-decoration: none;
  color: #333;
  font: normal 700 14px/22px  $fontFam;
}

.include,
.dropdown-header a,
.big a {
  text-decoration: none;
  color: #333;
  font: normal 600 14px/22px  $fontFam;
}

/*
==================================================
Footer
==================================================
*/

.domain-footer {
  width: 65%;
  padding-left: 5%;
}

.footer-animation a {
  color: #fff;
  font: normal 600 14px/17px  $fontFam;
  padding: 0px 15px;
  text-transform: capitalize;
}

.footer-block-flex {
  color: #999;
  margin: 10px;
  font: normal 400 14px/17px $fontFam;
  text-transform: uppercase;
  width: 20%;
}

.footer-block-flex {
  input {
    display: none;
  }

  li {
    margin: 20px 0;
  }

  a {
    text-decoration: none;
    text-transform: capitalize;
    text-wrap: wrap;
    font: normal 400 14px/18px $fontFam;
    color: #fff;
  }
}

.footer-navigator {
  display: flex;
  margin: 50px 0;

  p {
    width: 40%;
    padding: auto 50px;
    text-wrap: wrap;
    color: #fff;
    margin-right: 20px;
    font: normal 300 26px/32px  $fontFam;
  }

  .fa-search  {
    color: rgb(182, 56, 55);
    padding-top: 10px;
    padding-left: 30px;
    font-size: 25px;
  }

  span {
    display: flex;
  }
} 

.small-footer {
  padding-bottom: 50px;
}

small {
  color: rgb(122, 122, 122);
  font: normal 400 14px/18px  $fontFam;
}

.footer-section {
  background: linear-gradient(90deg, rgb(182, 56, 55) 35%, rgb(51, 51, 51) 0px);
}

.footer-animation {
  padding: 30px 0;
  margin-bottom: 40px;
}

  /*  Footer image */

  .domain-footer-logo img {
    width: 55%;
    left: 35%;
    position: relative;
    top: 35%;
  }

  .small-footer img {
    @include EleLength(auto,20px);
    vertical-align: bottom;
    padding: 0 12px;
  }

/*
===================================================
Button
==================================================
*/


.drop-btn-1,
.drop-btn-2 {
  font: normal 700 14px/20px  $fontFam;
  width: 200px;
  justify-content: baseline;
  text-transform: capitalize;
  display: block;
  margin: 0 auto;
}

.drop-btn-1 {
  border: 3px solid rgb(182, 56, 55);
  border-radius: 5px;
  padding: 10px 20px;
  color: rgb(182, 56, 55);
  background-color: #fff;
}

.drop-btn-2 {
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  color: #fff;
  background-color: #2a9dbc;
}

.btn-cart {
  width: 300px;
  display: block;
  padding: 15px 0;
  background-color: #000;
  border-radius: 5px;
  border: none;
}

.help-list {
  z-index: 1;
}

.hero-section button {
  transform: translateY(-4px);
  height: 60px;
  width: 14%;
  margin-left: 1.2%;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  background-color: #e24747;
  font: normal 400 14px/17px  $fontFam;
}

.price-tag button {
  color: #000;
  width: 85%;
  padding: 13px;
  margin-bottom: 30px;
  border: 3px solid #000;
  text-transform: uppercase;
  border-radius: 5px;
  margin-left: 15px;
  background-color: #fff;
  font: normal 700 14px/17px  $fontFam;
}

.domain-option-flex button {
  padding: 15px 20px;
  border: none;
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  margin-top: 40px;
  font: normal 400 14px/20px  $fontFam;
}

.fixed-btn button {
 @include EleBoxsize();
  line-height: 70.75px;
  position: fixed;
  bottom: 24px;
  right: 40px;
  @include EleLength(55px,54.75px);
  color: #fff;
  background-color: rgb(182, 56, 55);
  box-shadow: 2.11213px 4.22427px 6.3364px rgba(0, 0, 0, 0.23);
  border-radius: 63.364px 70.364px 0px 63.364px;
  cursor: pointer;
  border: none;
  font-size: small;
  display: block;
}

.fa-commenting {
  position: absolute;
  left: 2px;
  font-size: 200px;
  width: 50px;
  top: 10px;
  right: 10px;
}

.fixed-btn button:hover {
  background-color: #fff;
  border: 2px solid rgb(182, 56, 55);
  color: rgb(182, 56, 55);
}

.footer-block-flex a:hover {
  text-decoration: underline;
}

.footer-navigator {
  input {
    padding: 0 20px;
    @include EleLength(85%,40px);
    border: none;
    border-radius: 5px;
    font: normal 300 25px/40px $fontFam;
  }

  input::placeholder {
    color: #0000006c;
    font: normal 300 24px/40px  $fontFam;
  }
}
